body {
  margin: 0px 0px 200px 200px
}
.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    overflow: hidden;
  }


  .board {
    display: flex;
  }


  .imgSize {
    width: 40px;
    height: 40px;
    margin-left:-20px;
    margin-top: 5px;
    position: absolute;
    background: url('../../assets/image/maze.jpg') no-repeat center center;
    background-size:cover;
    border:0;
  }

  button#board{
    border: 0px solid black;
    background-color: transparent;
  }

