.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    overflow: hidden;
  }


  .board {
    display: flex;
  }


  .imgSize {
    width: 40px;
    height: 40px;
    margin-left:-28px;
    margin-top: 5px;
    position: absolute;
    background: url('../../assets/image/maze.jpg') no-repeat center center;
    background-size:cover;
    border:0;
  }